@import "../../base";

.menu-container {
  float: left;
}

.menu {
  width: 250px;
  height: 100vh;
  padding: 25px;
  background: $color-lighter-gray;

  &-user {
    display: flex;
    align-items: center;

    &__avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: $border-radius-5;
      @include font-style($font-weight-medium, $font-size-3, $color-white);
    }

    &__info {
      margin-left: 15px;

      &-login {
        @include font-style($font-weight-medium, $font-size-4, $color-black);
        margin: 0;
      }

      &-email {
        @include font-style(
          $font-weight-regular,
          $font-size-6,
          $color-dark-gray
        );
      }
    }
  }

  &-links {
    list-style-type: none;
    padding: 0;
    margin-top: 35px;

    &__link {
      text-decoration: none;
    }

    &__elem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $color-white;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: $border-radius-1;
      margin-bottom: 20px;
      cursor: pointer;
      border: 2px solid $color-lighter-gray;

      &:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        box-shadow: 0px 4px 15px $color-lighter-gray;
      }

      &:not(:hover) {
        transition: 0.3s;
      }

      &:active {
        transform: scale(0.9);
      }

      &-title {
        @include font-style($font-weight-regular, $font-size-5, $color-gray);
      }

      &-img {
        width: 21px;
        height: 21px;
      }
    }
  }
}

.active {
  background: $color-light-green-opacity;
  border: 2px solid $color-green;

  p {
    font-weight: $font-weight-regular-plus;
    color: $color-green;
  }
}
