@import "../../base";

.lending {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;

    &-title {
        @include font-style($font-weight-medium, $font-size-0, $color-green);
    }

    &-description {
        @include font-style($font-weight-regular, $font-size-3, $color-black);
        text-align: center;
        max-width: 50%;
        margin-bottom: 50px;

        &__text-colorized {
            color: $color-green;
        }
    }

    &-login {
        @include font-style($font-weight-regular, $font-size-4, $color-green);
        @include button-style($border-radius-1, $color-light-green-opacity);
    }
}

@media (max-width: 575px) {
    .lending {
        margin-top: 25%;

        &-title {
            font-size: $font-size-1;
        }

        &-description {
            max-width: 75%;
            font-size: $font-size-4;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .lending {
        margin-top: 17%;

        &-description {
            max-width: 75%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lending {
        margin-top: 15%;

        &-description {
            max-width: 70%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .lending {
        margin-top: 11%;
    }
}