@import "../../base";

.search {
  float: left;
  width: 50%;
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;

  &-title {
    margin-top: 25px;
    @include font-style($font-weight-medium, $font-size-4, $color-black);
  }

  &-input {
    margin-top: 15px;
    @include input-style(
      $width-input-2,
      $border-style-1,
      $border-radius-1,
      $border-style-2
    );
    @include font-style($font-weight-medium, $font-size-5, $color-black);
  }

  &-results {
    list-style-type: none;
    padding: 0;
    margin-top: 35px;
    overflow: scroll;
    height: 80vh;

    &::-webkit-scrollbar {
      width: 0;
    }

    &__loading {
      @include font-style($font-weight-regular, $font-size-5, $color-black);
    }
  }

  &-result {
    text-decoration: none;

    &__element {
      display: flex;
      align-items: center;
      padding: 8px;
      padding-left: 20px;
      padding-right: 20px;
      width: max-content;
      background: $color-white-light;
      border-radius: $border-radius-1;
      border: $border-style-1;
      margin-bottom: 15px;

      &:hover {
        transition: 0.3s;
        border: $border-style-2;
      }

      &:not(:hover) {
        transition: 0.3s;
      }

      &-avatar {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        border-radius: $border-radius-3;
        @include font-style($font-weight-medium, $font-size-5, $color-white);
        margin-right: 15px;
      }

      &-name {
        @include font-style($font-weight-medium, $font-size-5, $color-black);
        max-width: 325px;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          transition: 0.3s;
          color: $color-green;
        }

        &:not(:hover) {
          transition: 0.3s;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .search {
    width: 75%;
    border-right: 0;

    &-input {
      width: 90%;
    }

    &-results {
      height: 70vh;
    }

    &-result__element {
      width: 80%;

      &-name {
        max-width: 69%;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .search {
    width: 75%;
    border-right: 0;

    &-input {
      width: 92.5%;
    }

    &-results {
      height: 75vh;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search {
    border-right: 0;

    &-input {
      width: 350px;
    }

    &-results {
      height: 75vh;
    }

    &-result__element-name {
      max-width: 275px;
    }
  }
}
