.search {
  float: left;
  width: 50%;
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.search-title {
  margin-top: 25px;
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.search-input {
  margin-top: 15px;
  width: 400px;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  background: transparent;
  outline: none;
  text-overflow: ellipsis;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.search-input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

.search-input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

.search-input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

.search-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
}

.search-input:hover {
  border: 2px solid #c4c4c4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-input:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-results {
  list-style-type: none;
  padding: 0;
  margin-top: 35px;
  overflow: scroll;
  height: 80vh;
}

.search-results::-webkit-scrollbar {
  width: 0;
}

.search-results__loading {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.search-result {
  text-decoration: none;
}

.search-result__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fcfcfc;
  border-radius: 15px;
  border: 2px solid #e5e5e5;
  margin-bottom: 15px;
}

.search-result__element:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #c4c4c4;
}

.search-result__element:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-result__element-avatar {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  border-radius: 50px;
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  margin-right: 15px;
}

.search-result__element-name {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  max-width: 325px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-result__element-name:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #31c48d;
}

.search-result__element-name:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 575px) {
  .search {
    width: 75%;
    border-right: 0;
  }
  .search-input {
    width: 90%;
  }
  .search-results {
    height: 70vh;
  }
  .search-result__element {
    width: 80%;
  }
  .search-result__element-name {
    max-width: 69%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .search {
    width: 75%;
    border-right: 0;
  }
  .search-input {
    width: 92.5%;
  }
  .search-results {
    height: 75vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .search {
    border-right: 0;
  }
  .search-input {
    width: 350px;
  }
  .search-results {
    height: 75vh;
  }
  .search-result__element-name {
    max-width: 275px;
  }
}
/*# sourceMappingURL=Search.css.map */