@import "../../base";

.feed {
  float: left;
  width: 50%;
  height: 100vh;
  border-right: 1px solid $color-gray-whiter;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__caption {
      @include font-style($font-weight-medium, $font-size-2, $color-black);
    }
  }

  &-subscontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 100%;
      height: 40px;
      background: linear-gradient(0deg, transparent, $color-white 75%);
    }
  }

  &-subscribes {
    list-style-type: none;
    padding: 0;
    display: flex;

    &__loading {
      @include font-style($font-weight-regular, $font-size-5, $color-black);
    }

    &__none {
      @include font-style($font-weight-regular, $font-size-4, $color-black);
    }

    &__blog {
      padding-right: 20px;
      width: 55px;
      height: 55px;

      &-img {
        width: 55px;
        height: 55px;
        border-radius: $border-radius-5;
        border: $border-style-4;

        &:hover {
          transition: 0.3s;
          transform: translateY(-3px);
          border: $border-style-3;
          cursor: pointer;
        }

        &:not(:hover) {
          transition: 0.3s;
        }

        &:active {
          transform: scale(0.8);
        }
      }

      &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: $border-radius-5;
        border: $border-style-4;
        @include font-style($font-weight-medium, $font-size-5, $color-white);
        background: #ffb266;

        &:hover {
          transition: 0.3s;
          transform: translateY(-3px);
          border: $border-style-3;
          cursor: pointer;
        }

        &:not(:hover) {
          transition: 0.3s;
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }
  }

  &-subschange {
    @include button-style($border-radius-3, $color-green-gradient);
    @include font-style($font-weight-medium, $font-size-5, $color-white);
  }

  &-artccontainer {
    overflow: scroll;
    height: 95vh;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &-articles {
    list-style-type: none;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17vh;
    display: flex;
    flex-direction: column;

    &__loading {
      @include font-style($font-weight-regular, $font-size-5, $color-black);
    }

    &__none {
      @include font-style($font-weight-regular, $font-size-4, $color-black);
    }
  }
}

@media (max-width: 575px) {
  .feed {
    width: 80%;
    border-right: none;

    &-subscribes {
      max-width: 100%;
      height: 65px;
      overflow-x: scroll;
    }

    &-subschange {
      display: none;
    }

    &-articles {
      padding-top: 10px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .feed {
    width: 80%;
    border-right: none;

    &-subscribes {
      max-width: 100%;
      height: 65px;
      overflow-x: scroll;
    }

    &-subschange {
      display: none;
    }

    &-articles {
      padding-top: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .feed {
    border-right: none;

    &-subscribes {
      max-width: 100%;
      height: 65px;
      overflow-x: scroll;
    }

    &-subschange {
      display: none;
    }

    &-articles {
      padding-top: 15px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .feed {
    border-right: none;

    &-subscribes {
      max-width: 100%;
      height: 65px;
      overflow-x: scroll;
    }

    &-subschange {
      display: none;
    }
  }
}
