.feed {
  float: left;
  width: 50%;
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

.feed-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed-header__caption {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.feed-subscontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.feed-subscontainer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(75%, #ffffff));
  background: linear-gradient(0deg, transparent, #ffffff 75%);
}

.feed-subscribes {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  height: 80px;
  overflow-x: scroll;
}

.feed-subscribes::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.feed-subscribes__loading {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.feed-subscribes__none {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.feed-subscribes__blog {
  padding-right: 20px;
  width: 55px;
  height: 55px;
}

.feed-subscribes__blog-img {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  border: 2px solid #ffffff;
}

.feed-subscribes__blog-img:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #84e1bc;
  cursor: pointer;
}

.feed-subscribes__blog-img:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feed-subscribes__blog-img:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.feed-subscribes__blog-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 100px;
  border: 2px solid #ffffff;
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #ffb266;
}

.feed-subscribes__blog-avatar:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #84e1bc;
  cursor: pointer;
}

.feed-subscribes__blog-avatar:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feed-subscribes__blog-avatar:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.feed-subschange {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(97.86deg, #31c48d 2.43%, #07eea0 73.24%);
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

.feed-subschange:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.feed-subschange:not(:hover) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feed-subschange:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.feed-artccontainer {
  overflow: scroll;
  height: 80vh;
}

.feed-artccontainer::-webkit-scrollbar {
  width: 0;
}

.feed-articles {
  list-style-type: none;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 17vh;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feed-articles__loading {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.feed-articles__none {
  font-family: Roboto Flex, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

@media (max-width: 575px) {
  .feed {
    width: 85%;
    border-right: none;
  }
  .feed-subscribes {
    max-width: 100%;
    height: 65px;
    overflow-x: scroll;
    padding-top: 0;
  }
  .feed-subschange {
    display: none;
  }
  .feed-articles {
    padding-top: 10px;
    margin-bottom: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .feed {
    width: 85%;
    border-right: none;
  }
  .feed-subscribes {
    max-width: 100%;
    height: 65px;
    overflow-x: scroll;
    padding-top: 0;
  }
  .feed-subschange {
    display: none;
  }
  .feed-articles {
    padding-top: 10px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .feed-subscribes {
    max-width: 100%;
    height: 65px;
    overflow-x: scroll;
    padding-top: 0;
  }
  .feed-subschange {
    display: none;
  }
  .feed-articles {
    padding-top: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .feed-subscribes {
    max-width: 100%;
    height: 65px;
    overflow-x: scroll;
  }
  .feed-subschange {
    display: none;
  }
}
/*# sourceMappingURL=NewsFeed.css.map */